; ==== EXTERIOR ====

[MERGE_MODEL.0]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior/model/Drone_Collision_In_Passengers.gltf"
merge_to_model = "exterior"

[SIM_ATTACHMENT.0]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Exterior"
attachment_file="model/Airframe.xml"
attach_to_model="exterior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Exterior"
texture = "classic"

[SIM_ATTACHMENT.1]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Exterior_Skis"
attachment_file="model/SKIS.xml"
attach_to_model="exterior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Exterior_Skis"

[SIM_ATTACHMENT.2]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior_Door_copilot"
attachment_file="model/EXTERIOR_DOOR_COPILOT.xml"
attach_to_model="exterior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Exterior_Door_copilot"

[SIM_ATTACHMENT.3]
attachment_root="SimObjects/Airplanes/Asobo_C172SP\attachments\asobo\Part_Exterior_GPU_Pipe"
attachment_file="model/GPU_Pipe_Wheels.xml"
attach_to_model="exterior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="GPU_Pipe_Wheels"

[SIM_ATTACHMENT.4]
attachment_root="SimObjects/Airplanes/Asobo_C172SP\attachments\asobo\Part_Exterior_FUEL_Pipe"
attachment_file="model/FUEL_Pipe_Wheels.xml"
attach_to_model="exterior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="FUEL_Pipe_Wheels"

[SIM_ATTACHMENT.5]
attachment_root="SimObjects/Airplanes/Asobo_C172SP\attachments\asobo\Function_Exterior_Towing"
attachment_file="model/Towing.xml"
attach_to_model="exterior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Towing"

; ==== INTERIOR ====
[MERGE_MODEL.1]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior/model/PAYLOAD_PILOT.gltf"
merge_to_model = "interior"

[MERGE_MODEL.2]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior_Seat_Copilot/model/PAYLOAD_COPILOT.gltf"
merge_to_model = "interior"

[MERGE_MODEL.3]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior_Backseats/model/PAYLOAD_PAX.gltf"
merge_to_model = "interior"

[SIM_ATTACHMENT.6]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Classic_AS"
attachment_file="model/INTERIOR_CLASSIC_AS.XML"
attach_to_model="interior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Interior_Classic"

[SIM_ATTACHMENT.7]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Floor_Standard"
attachment_file="model/INTERIOR_FLOOR_STANDARD.XML"
attach_to_model="interior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Interior_Floor_Standard"

[SIM_ATTACHMENT.8]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Passengers"
attachment_file="model/INTERIOR_PASSENGERS.XML"
attach_to_model="interior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Interior_Passengers"

[MERGE_MODEL.4]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior_Panel_Classic/model/PANEL_CLASSIC_SKIS_ATTACH_NODES.gltf"
merge_to_model = "interior"

[SIM_ATTACHMENT.9]
attachment_root="SimAttachments/Instruments/Asobo_Lever_LandingGearSkis_Box"
attachment_file="model/Lever_LandingGearOfSkis_Box.xml"
attach_to_model="interior"
attach_to_model_minsize=0 
attach_to_node="ATTACH_Lever_LandingGearOfSkis_Box"
alias="LandingGearSkis_Box"
behavior_parameter.0="CONTACT_POINT_ID,'Ski_Front_Wheel_Front'_n"

[SIM_ATTACHMENT.10]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Door_Copilot"
attachment_file="model/INTERIOR_DOOR_COPILOT.XML"
attach_to_model="interior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Interior_Door_Copilot"

[SIM_ATTACHMENT.11]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior_Pedestal_Organizer"
attachment_file="model/Pedestal_Organizer.XML"
attach_to_model="interior"
attach_to_model_minsize=0 
always_execute_associate_js=1 ; Par défaut : 0
always_execute_model_behavior=1 ; Par défaut : 0
alias="Pedestal_Organizer"

[SIM_ATTACHMENT.12]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Copilot"
alias="Copilot_Graph"