node_modules/
.oxc/
.rollup.cache/
tsconfig.tsbuildinfo
garmin-g5-enhanced/PackageSources/**/AS5.js
garmin-g5-enhanced/PackageSources/**/AS5.css
garmin-g5-enhanced/PackageSources/**/AS5.html
garmin-g5-enhanced/PackageSources/**/Images/
garmin-g5-enhanced/PackageSources/**/msfssdk.js
garmin-g5-enhanced/Packages/
garmin-g5-enhanced/_PackageInt/
garmin-g5-enhanced/garmin-g5-enhanced.xml.user

# Agentic AI
.claude
.specs/
AGENTS.md
