; Panel Configuration File
; Asobo_Attitude_Indicator_G5

[DynamicParameters]
param.0     = "VCockpit01_htmlgauge00_file,NavSystems/AS5/AS5.html"
param.1     = "VCockpit01_htmlgauge00_params,?Index=1"


[VCockpit01]
size_mm	    = 512, 350
pixel_size  = 512, 350
texture     = G5_Screen_1
emmisive    = 0
backlight   = 1
htmlgauge00 = [VCockpit01_htmlgauge00_file][VCockpit01_htmlgauge00_params], 0, 0, 512, 350