; ==== EXTERIOR ====

[MERGE_MODEL.0]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior/model/Drone_Collision_In_Passengers.gltf"
merge_to_model = "exterior"


[SIM_ATTACHMENT.0]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Exterior"
attachment_file="model/Airframe.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Exterior"
texture = "floats"

[SIM_ATTACHMENT.1]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Exterior_Floats"
attachment_file="model/FLOATS.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Exterior_Floats"

[MERGE_MODEL.1]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior_Floats/model/ATTACH_NODES_CHOCKS_FLOATS.gltf"
merge_to_model = "exterior"

[SIM_ATTACHMENT.2]
attachment="SimAttachments/Aircraft_Objects/Asobo_Chocks_02_L250_W270_H85/model/Chocks_02_L250_W270_H85.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
attach_to_node="ATTACH_Chokes_Floats_Left"
attach_to_reference_point=""
attach_offset=0,0,0
attach_pbh=0,0,0
attach_scale=1.0
always_execute_associate_js=1
always_execute_model_behavior=1

[SIM_ATTACHMENT.3]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior_Door_copilot"
attachment_file="model/EXTERIOR_DOOR_COPILOT.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Exterior_Door_copilot"

[SIM_ATTACHMENT.4]
attachment_root="SimObjects/Airplanes/Asobo_C172SP\attachments\asobo\Part_Exterior_GPU_Pipe"
attachment_file="model/GPU_Pipe_Floats.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="GPU_Pipe_Floats"

[SIM_ATTACHMENT.5]
attachment_root="SimObjects/Airplanes/Asobo_C172SP\attachments\asobo\Function_Exterior_Towing"
attachment_file="model/Towing.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Towing"

; ==== INTERIOR ====
[MERGE_MODEL.2]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior/model/PAYLOAD_PILOT.gltf"
merge_to_model = "interior"

[MERGE_MODEL.3]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior_Seat_Copilot/model/PAYLOAD_COPILOT.gltf"
merge_to_model = "interior"

[MERGE_MODEL.4]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior_Backseats/model/PAYLOAD_PAX.gltf"
merge_to_model = "interior"

[SIM_ATTACHMENT.6]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Classic_AS"
attachment_file="model/INTERIOR_CLASSIC_AS.XML"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Interior_Classic"

[SIM_ATTACHMENT.7]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Passengers"
attachment_file="model/INTERIOR_PASSENGERS.XML"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Interior_Passengers"

[SIM_ATTACHMENT.8]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Floats"
attachment_file="model/INTERIOR_FLOATS.XML"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Interior_Floats"

[MERGE_MODEL.5]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior_Floats/model/PANEL_CLASSIC_FLOATS_ATTACH_NODES.gltf"
merge_to_model = "interior"

[SIM_ATTACHMENT.9]
attachment_root="SimAttachments/Instruments/Asobo_Lever_LandingGearFloats_Round"
attachment_file="model/Lever_LandingGearFloats_Round.xml"
attach_to_model="interior"
attach_to_model_minsize=0
attach_to_node="ATTACH_Lever_LandingGearOfFloaters"
attach_to_reference_point=""
attach_offset=0,0,0
attach_pbh=0,0,0
attach_scale=1.0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="FLOATERS_LANDING_ROUND"

[SIM_ATTACHMENT.10]
attachment_root="SimAttachments/Instruments/Asobo_Lever_LandingGearSafetyPump"
attachment_file="model/Lever_LandingGearSafetyPump.xml"
attach_to_model="interior"
attach_to_model_minsize=0
attach_to_node="ATTACH_Lever_LandingGearSafetyPump"
attach_to_reference_point=""
attach_offset=0,0,0
attach_pbh=0,0,0
attach_scale=1.0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="LandingGearSafetyPump"

[SIM_ATTACHMENT.11]
attachment_root="SimAttachments/Instruments/Asobo_Lever_WaterRudder"
attachment_file="model/LEVER_WATERRUDDER.xml"
attach_to_model="interior"
attach_to_model_minsize=0
attach_to_node="ATTACH_Lever_WaterRudder"
attach_to_reference_point=""
attach_offset=0,0,0
attach_pbh=0,0,0
attach_scale=1.0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Lever_WaterRudder"

[SIM_ATTACHMENT.12]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Door_Copilot"
attachment_file="model/INTERIOR_DOOR_COPILOT.XML"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Interior_Door_Copilot"

[SIM_ATTACHMENT.13]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Copilot"
alias="Copilot_Graph"