; ==== EXTERIOR ====

[MERGE_MODEL.0]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior/model/Drone_Collision_In_Empty.gltf"
merge_to_model = "exterior"

[SIM_ATTACHMENT.0]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Exterior"
attachment_file="model/Airframe.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Exterior"

[SIM_ATTACHMENT.1]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Exterior_Wheels"
attachment_file="model/WHEELS.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Exterior_Wheels"

[SIM_ATTACHMENT.2]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior_Door_copilot"
attachment_file="model/EXTERIOR_DOOR_COPILOT.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Exterior_Door_Copilot"

[MERGE_MODEL.1]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Exterior/model/Attach_Chocks_Left.gltf"
merge_to_model = "exterior"

[SIM_ATTACHMENT.3]
attachment="SimAttachments/Aircraft_Objects/Asobo_Chocks_02_L250_W270_H85/model/Chocks_02_L250_W270_H85.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
attach_to_node="ATTACH_Chocks_Left"
attach_to_reference_point=""
attach_offset=0,0,0
attach_pbh=0,0,0
attach_scale=1.0
always_execute_associate_js=1
always_execute_model_behavior=1

[SIM_ATTACHMENT.4]
attachment_root="SimObjects/Airplanes/Asobo_C172SP\attachments\asobo\Part_Exterior_GPU_Pipe"
attachment_file="model/GPU_Pipe_Wheels.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="GPU_Pipe_Wheels"

[SIM_ATTACHMENT.5]
attachment_root="SimObjects/Airplanes/Asobo_C172SP\attachments\asobo\Part_Exterior_FUEL_Pipe"
attachment_file="model/FUEL_Pipe_Wheels.xml"
attach_to_model="exterior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="FUEL_Pipe_Wheels"

; ==== INTERIOR ====
[MERGE_MODEL.2]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior/model/PAYLOAD_PILOT.gltf"
merge_to_model = "interior"

[MERGE_MODEL.3]
merge_file="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Part_Interior/model/INTERIOR_ATTACH_CARGO.gltf"
merge_to_model = "interior"

[SIM_ATTACHMENT.6]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Classic_AS"
attachment_file="model/INTERIOR_CLASSIC_AS.XML"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Interior_Classic"

[SIM_ATTACHMENT.7]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Floor_Standard"
attachment_file="model/INTERIOR_FLOOR_STANDARD.XML"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Interior_Floor_Standard"

[SIM_ATTACHMENT.8]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Door_Copilot"
attachment_file="model/INTERIOR_DOOR_COPILOT.XML"
attach_to_model="interior"
attach_to_model_minsize=0
always_execute_associate_js=1
always_execute_model_behavior=1
alias="Interior_Door_Copilot"

[SIM_ATTACHMENT.9]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Cargo"
alias="Cargo_Mission_Graph"

[SIM_ATTACHMENT.10]
attachment_root="SimObjects/Airplanes/Asobo_C172SP/attachments/asobo/Function_Interior_Rear_Cargo"
alias="Rear_Cargo_Graph"