; ==== INTERIOR G5 INSTRUMENTS ====
;
; Attach nodes "Attitude" and "Dir_ind" belong to JF's interior model, which we inherit.
; Screen lighting is hardcoded in the attachment's panel.cfg - only htmlgauge00 accepts
; [DynamicParameters] substitution, emissive/backlight do not.

[SIM_ATTACHMENT.0]
attachment_root="SimAttachments/Instruments/gomez_attitude_indicator_g5"
attachment_file="model/mfd_g5.xml"
attach_to_model="interior"
attach_to_model_minsize=0
attach_to_node="Attitude"
attach_to_reference_point=""
attach_offset=0.0055,0,0.01
attach_pbh=0,0,180
attach_scale=1.0
always_execute_associate_js=1
always_execute_model_behavior=1
behavior_parameter.0="CIRCUIT_ID,24"
behavior_parameter.1="MFD_ID,1"
behavior_parameter.2="CIRCUIT_NAME,G5_1"
behavior_parameter.3="EMISSIVE_MIN,0.01"
vcockpit_parameter.0="VCockpit01_htmlgauge00_file,NavSystems/AS5/AS5.html"
vcockpit_parameter.1="VCockpit01_htmlgauge00_params,?Index=1"
alias="G5_MFD_1"

[SIM_ATTACHMENT.1]
attachment_root="SimAttachments/Instruments/gomez_attitude_indicator_g5"
attachment_file="model/mfd_g5.xml"
attach_to_model="interior"
attach_to_model_minsize=0
attach_to_node="Dir_ind"
attach_to_reference_point=""
attach_offset=0.006,-0.001,-0.005
attach_pbh=0,0,180
attach_scale=1.0
always_execute_associate_js=1
always_execute_model_behavior=1
behavior_parameter.0="CIRCUIT_ID,25"
behavior_parameter.1="MFD_ID,2"
behavior_parameter.2="CIRCUIT_NAME,G5_2"
behavior_parameter.3="EMISSIVE_MIN,0.01"
vcockpit_parameter.0="VCockpit01_htmlgauge00_file,NavSystems/AS5/AS5.html"
vcockpit_parameter.1="VCockpit01_htmlgauge00_params,?Index=2"
alias="G5_MFD_2"
